---
import CommonLayout from '@src/layouts/CommonLayout.astro'
import Footer from '@src/components/Footer.astro'
import NavColumn from '@src/components/NavColumn.vue'
import RepoLink from '@src/components/RepoLink.astro'
import StripeTitle from '@src/components/StripeTitle.astro'

import logoURL from '@src/assets/logos/cityseer_logo_light_red.png'
import '@src/styles/yapper.css'

const currentPath = Astro.url.pathname
const navPaths = [
  '/intro',
  '/tools/io',
  '/tools/graphs',
  '/tools/plot',
  '/tools/mock',
  '/metrics/observe',
  '/metrics/networks',
  '/metrics/layers',
  '/metrics/visibility',
  '/rustalgos/rustalgos',
]
---

<CommonLayout>
  <Fragment slot="metaContent">
    <title>{currentPath}</title>
  </Fragment>
  <div id="cols">
    <div id="nav-col">
      <div class="flex flex-col items-end object-contain">
        <a href="/" title="home" class="object-contain transition-all hover:scale-105">
          <img src={logoURL.src} alt="logo" class="h-full w-full max-w-xs px-4 py-10" />
        </a>
        <NavColumn client:visible navPaths={navPaths} currentPath={currentPath} />
        <div class="grow"></div>
        <div class="self-start px-8 py-2">
          <RepoLink />
        </div>
      </div>
      <StripeTitle />
    </div>
    <div id="content-col">
      <slot />
      <Footer />
    </div>
  </div>
</CommonLayout>

<style>
  #cols {
    @apply flex h-full max-w-full min-w-full;
  }

  #nav-col {
    @apply sticky top-0 flex max-h-screen min-h-screen w-1/4 overflow-y-auto;
  }

  #content-col {
    @apply flex max-w-3xl flex-col p-8;
  }

  @media only screen and (max-width: 958px) {
    #cols {
      @apply flex-col;
    }

    #nav-col {
      @apply static max-h-full min-h-0 w-full justify-center overflow-y-visible;
    }

    #content-col {
      @apply w-full p-3;
    }
  }
</style>
