---
import CommonLayout from '../layouts/CommonLayout.astro'
---

<CommonLayout>
  <Fragment slot="metaContent">
    <title></title>
    <meta set:html name="description" content='' />
    <meta set:html name="keywords" content='' />
  </Fragment>
  <slot />
</CommonLayout>

<style>

</style>
