@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-darker-grey text-lighter-grey;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* flex is for links inserted before headings */
    @apply flex items-center py-1 font-headings text-light-grey !important;
  }

  h1 {
    @apply pt-12 text-4xl font-extralight pt-8 pb-4 !important;
  }

  h2 {
    @apply text-3xl font-normal pt-6 pb-2 !important;
  }

  h3 {
    @apply text-2xl font-medium pt-4 !important;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  ul > li {
    @apply ml-3 text-sm;

    list-style-type: disc;
  }

  p {
    @apply py-1 text-sm font-light;
  }

  :not(pre) > code {
    @apply rounded-sm bg-dark-grey px-1 font-mono text-sm font-medium text-lighter-grey;
  }

  pre {
    @apply my-4 p-2 overflow-x-auto whitespace-pre-wrap rounded text-xs font-normal tracking-tight !important;
  }

  a {
    @apply text-theme;
  }

  p > a {
    @apply font-medium;
  }

  table {
    @apply table-auto border-t border-r border-dark-grey;
  }

  th {
    @apply border-l border-b border-dark-grey py-2;
  }

  td {
    @apply border-l border-b border-dark-grey px-1 py-2 text-xs;
  }

  td > code,
  td > a > code {
    @apply px-0.5 py-0 text-xs;
  }

  @media only screen and (max-width: 1200px) {
    h1 {
      @apply pt-8 pb-2 text-2xl font-light;
    }

    h2,
    h3 {
      @apply pt-6 pb-1 font-medium;
    }

    h2 {
      @apply text-xl;
    }

    h3 {
      @apply text-lg;
    }

    h4 {
      @apply text-base;
    }

    h5 {
      @apply text-sm;
    }

    h6 {
      @apply text-sm;
    }

    ul,
    li {
      @apply ml-2 text-sm;
    }

    p {
      @apply text-sm;
    }

    code {
      @apply text-xxs;
    }

    pre {
      @apply text-xxs;
    }

    th {
      @apply py-1;
    }

    td {
    }

    td > code,
    td > a > code {
      @apply text-xxs;
    }
  }
}
.heading-icon {
  @apply mr-2;

  & path {
    fill: #d33130;
  }
}
.references {
  @apply my-4 border-t border-mid-grey py-2;
}
.csl-entry {
  @apply text-xs font-light text-light-grey;
}
.quote {
  @apply ml-10;
}
blockquote {
  @apply my-4 rounded-b-md border border-t-2 border-mid-grey bg-dark-grey p-3 pb-2 shadow;
  & p {
    @apply text-xs;
  }
}
