---
import CommonLayout from '../layouts/CommonLayout.astro'
---
<CommonLayout>
  <Fragment slot="metaContent">
    <title>Cityseer API Docs</title>
    <meta set:html name="description" content='Cityseer API is a collection of computational tools for fine-grained network and land-use analysis, useful for assessing the morphological precursors to vibrant neighbourhoods. It is underpinned by rigorous network-based methods that have been developed from the ground-up specifically for hyperlocal analysis at the pedestrian scale.'/>
    <meta set:html name="keywords" content='' />
  </Fragment>
  <Fragment slot>
    <div>
      <div id='home-container'>
        <h1 id='heading-text'>Computational tools for urban analysis</h1>
        <div id='feature-content'></div>
        <div>
          <h2 class='feature-text'>Urban morphological analysis</h2>
          <p>Tools for fine-grained network and land-use analysis. Assess the morphological precursors to vibrant neighbourhoods.</p>
          <h2 class='feature-text'>Pedestrian scale</h2>
          <p>Rigorous network-based methods developed specifically from the ground-up for high-resolution localised analysis at the pedestrian scale.</p>
          <h2 class='feature-text'>Friendly & performant</h2>
          <p>Python package with heavier algorithms optimised in fast JIT compiled code. In-out convenience methods for NetworkX.</p>
        </div>
      </div>
    </div>
  </Fragment>
</CommonLayout>

<style>
#home-container {
  @apply flex flex-col items-start pt-72;
}
#heading-text {
  @apply text-4xl font-normal leading-tight;
}
#feature-content {
  @apply flex flex-col max-w-md;
}
#feature-text {
  @apply text-2xl font-medium leading-tight;
}

@media only screen and (max-width: 958px) {
  #home-container {
    @apply pt-8;
  }
  #heading-text {
    @apply text-3xl;
  }
  #feature-content {
    @apply max-w-sm;
  }
  #feature-text {
    @apply text-lg font-semibold;
  }
}
</style>
