---
import Markdown from '@astrojs/markdown-component';
import PageLayout from '@src/layouts/PageLayout.astro'
---
<PageLayout>

<div class="yap module">
  <h1 class="yap module-title" id="cityseer-rustalgos">
    <a aria-hidden="true" href="#cityseer-rustalgos" tabindex="-1">
      <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
      </svg>
    </a>cityseer.rustalgos
  </h1><Markdown is:raw>

</Markdown>
  <section class="yap func">
    <h2 class="yap func-title" id="avg-distances-for-betas">
      <a aria-hidden="true" href="#avg-distances-for-betas" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>avg_distances_for_betas
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>avg_distances_for_betas(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">betas, </div>
          <div class="yap func-sig-param">min_threshold_wt=Ellipsis)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="betas-from-distances">
      <a aria-hidden="true" href="#betas-from-distances" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>betas_from_distances
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>betas_from_distances(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">distances, </div>
          <div class="yap func-sig-param">min_threshold_wt=Ellipsis)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="calculate-rotation">
      <a aria-hidden="true" href="#calculate-rotation" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>calculate_rotation
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>calculate_rotation(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">point_a, </div>
          <div class="yap func-sig-param">point_b)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="calculate-rotation-smallest">
      <a aria-hidden="true" href="#calculate-rotation-smallest" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>calculate_rotation_smallest
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>calculate_rotation_smallest(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">vec_a, </div>
          <div class="yap func-sig-param">vec_b)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="check-numerical-data">
      <a aria-hidden="true" href="#check-numerical-data" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>check_numerical_data
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>check_numerical_data(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">data_arr)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="clip-wts-curve">
      <a aria-hidden="true" href="#clip-wts-curve" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>clip_wts_curve
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>clip_wts_curve(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">distances, </div>
          <div class="yap func-sig-param">betas, </div>
          <div class="yap func-sig-param">spatial_tolerance)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="clipped-beta-wt">
      <a aria-hidden="true" href="#clipped-beta-wt" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>clipped_beta_wt
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>clipped_beta_wt(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">beta, </div>
          <div class="yap func-sig-param">max_curve_wt, </div>
          <div class="yap func-sig-param">data_dist)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="distances-from-betas">
      <a aria-hidden="true" href="#distances-from-betas" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>distances_from_betas
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>distances_from_betas(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">betas, </div>
          <div class="yap func-sig-param">min_threshold_wt=Ellipsis)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="gini-simpson-diversity">
      <a aria-hidden="true" href="#gini-simpson-diversity" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>gini_simpson_diversity
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>gini_simpson_diversity(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">class_counts)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="hill-diversity">
      <a aria-hidden="true" href="#hill-diversity" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>hill_diversity
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>hill_diversity(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">class_counts, </div>
          <div class="yap func-sig-param">q)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="hill-diversity-branch-distance-wt">
      <a aria-hidden="true" href="#hill-diversity-branch-distance-wt" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>hill_diversity_branch_distance_wt
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>hill_diversity_branch_distance_wt(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">class_counts, </div>
          <div class="yap func-sig-param">class_distances, </div>
          <div class="yap func-sig-param">q, </div>
          <div class="yap func-sig-param">beta, </div>
          <div class="yap func-sig-param">max_curve_wt)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="hill-diversity-pairwise-distance-wt">
      <a aria-hidden="true" href="#hill-diversity-pairwise-distance-wt" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>hill_diversity_pairwise_distance_wt
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>hill_diversity_pairwise_distance_wt(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">class_counts, </div>
          <div class="yap func-sig-param">class_distances, </div>
          <div class="yap func-sig-param">q, </div>
          <div class="yap func-sig-param">beta, </div>
          <div class="yap func-sig-param">max_curve_wt)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="pair-distances-and-betas">
      <a aria-hidden="true" href="#pair-distances-and-betas" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>pair_distances_and_betas
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>pair_distances_and_betas(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">distances=Ellipsis, </div>
          <div class="yap func-sig-param">betas=Ellipsis, </div>
          <div class="yap func-sig-param">min_threshold_wt=Ellipsis)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="raos-quadratic-diversity">
      <a aria-hidden="true" href="#raos-quadratic-diversity" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>raos_quadratic_diversity
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>raos_quadratic_diversity(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">class_counts, </div>
          <div class="yap func-sig-param">wt_matrix, </div>
          <div class="yap func-sig-param">alpha, </div>
          <div class="yap func-sig-param">beta)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap func">
    <h2 class="yap func-title" id="shannon-diversity">
      <a aria-hidden="true" href="#shannon-diversity" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>shannon_diversity
    </h2>
    <div class="yap func-sig-content">
      <div class="yap func-sig">
        <span>shannon_diversity(</span>
        <div class="yap func-sig-params">
          <div class="yap func-sig-param">class_counts)</div>
        </div>
      </div>
    </div>
    <div class="yap"></div>
  </section>
  <section class="yap class">
    <h2 class="yap class-title" id="nodevisit">
      <a aria-hidden="true" href="#nodevisit" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>NodeVisit
    </h2>
    <h3 class="yap">Properties</h3>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">visited</div>
        <div class="yap class-prop-def-type">bool</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">pred</div>
        <div class="yap class-prop-def-type">int | None</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">short_dist</div>
        <div class="yap class-prop-def-type">float</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">simpl_dist</div>
        <div class="yap class-prop-def-type">float</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">cycles</div>
        <div class="yap class-prop-def-type">float</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">origin_seg</div>
        <div class="yap class-prop-def-type">int | None</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">last_seg</div>
        <div class="yap class-prop-def-type">int | None</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">out_bearing</div>
        <div class="yap class-prop-def-type">float</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <h3 class="yap">Methods</h3>
    <section class="yap func">
      <h2 class="yap func-title" id="nodevisit-new">
        <a aria-hidden="true" href="#nodevisit-new" tabindex="-1">
          <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
          </svg>
        </a>NodeVisit.new
      </h2>
      <div class="yap func-sig-content">
        <div class="yap func-sig">
          <span>new(</span>
          <div class="yap func-sig-params">
            <div class="yap func-sig-param">cls)</div>
          </div>
        </div>
      </div>
      <div class="yap"></div>
    </section>
  </section>
  <section class="yap class">
    <h2 class="yap class-title" id="edgevisit">
      <a aria-hidden="true" href="#edgevisit" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>EdgeVisit
    </h2>
    <h3 class="yap">Properties</h3>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">visited</div>
        <div class="yap class-prop-def-type">bool</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">start_nd_idx</div>
        <div class="yap class-prop-def-type">int | None</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">end_nd_idx</div>
        <div class="yap class-prop-def-type">int | None</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">edge_idx</div>
        <div class="yap class-prop-def-type">int | None</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <h3 class="yap">Methods</h3>
    <section class="yap func">
      <h2 class="yap func-title" id="edgevisit-new">
        <a aria-hidden="true" href="#edgevisit-new" tabindex="-1">
          <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
          </svg>
        </a>EdgeVisit.new
      </h2>
      <div class="yap func-sig-content">
        <div class="yap func-sig">
          <span>new(</span>
          <div class="yap func-sig-params">
            <div class="yap func-sig-param">cls)</div>
          </div>
        </div>
      </div>
      <div class="yap"></div>
    </section>
  </section>
  <section class="yap class">
    <h2 class="yap class-title" id="digraph">
      <a aria-hidden="true" href="#digraph" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>DiGraph
    </h2>
  </section>
  <section class="yap class">
    <h2 class="yap class-title" id="classesstate">
      <a aria-hidden="true" href="#classesstate" tabindex="-1">
        <svg aria-hidden="true" class="heading-icon" height="15px" viewBox="0 0 20 20" width="15px" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="
M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z
" fill-rule="evenodd"></path>
        </svg>
      </a>ClassesState
    </h2>
    <h3 class="yap">Properties</h3>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">count</div>
        <div class="yap class-prop-def-type">int</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
    <div class="yap class-prop-elem-container">
      <div class="yap class-prop-def">
        <div class="yap class-prop-def-name">nearest</div>
        <div class="yap class-prop-def-type">float</div>
      </div>
      <div class="yap class-prop-def-desc"></div>
    </div>
  </section>
</div>
</PageLayout>

