---
import { Github } from '@vicons/fa'
---

<a id='repo-link' href='https://github.com/benchmark-urbanism/cityseer-api/' target='_blank'>
  <Github class='w-12 text-theme' />
  <h2 class='leading-none py-4'>Github</h2>
</a>

<style>
  #repo-link {
    @apply w-full flex flex-col items-center transition-all text-light-grey;

    &:hover {
      @apply scale-105 text-theme;
    }
  }
</style>