---
import { Github, Rocket } from '@vicons/fa'
---

<div class="w-full flex justify-center">
  <a class='px-6 py-2 hover:scale-110 transition-all text-light-grey hover:text-theme'
    href='https://github.com/benchmark-urbanism/cityseer-api'
    target='_blank'>
    <Github class='w-12'/>
  </a>
</div>
