<div id="stripe">
  <h2 class="py-0">Cityseer API Docs</h2>
</div>

<style>
  @reference "../styles/global.css";

  #stripe {
    @apply border-mid-grey sticky top-0 border-l px-1 py-3;

    writing-mode: vertical-lr;
  }
</style>
