@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-darker-grey text-lighter-grey;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* flex is for links inserted before headings */
    @apply flex items-center py-1 font-headings text-light-grey;
  }

  h1 {
    @apply pt-12 pb-4 text-3xl font-normal;
  }

  h2 {
    @apply pt-6 pb-2 text-2xl font-normal;
  }

  h3 {
    @apply pt-4 text-2xl font-medium;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  ul {
    @apply pl-2 font-light;

    & li {
      @apply my-2 ml-2 text-sm font-light;

      list-style-type: disc;
    }
  }

  p {
    @apply my-2 text-sm font-light;
  }

  img {
    @apply pt-6 pb-3;
  }

  :not(pre) > code {
    @apply rounded-sm bg-dark-grey px-1 font-mono text-xs font-medium text-lighter-grey;
  }

  pre {
    @apply my-4 overflow-x-auto whitespace-pre-wrap rounded border border-darker-grey p-2;

    & code {
      @apply text-xs font-normal tracking-tight;
    }
  }

  a {
    @apply text-theme;

    & code {
      @apply text-theme;
    }
  }

  p > a {
    @apply font-medium;
  }

  table {
    @apply mx-auto my-2 table-auto text-xs;

    & th {
      @apply border-l-1 border-r-1 border-mid-grey bg-dark-grey px-3 py-2 font-semibold;
    }

    & td {
      @apply border-t-1 border-l-1 border-r-1 border-mid-grey px-2 py-1 font-normal;
    }

    & tr {
      @apply p-0.5;
    }

    & tr td:first-child,
    & tr th:first-child {
      @apply border-l-0;
    }

    & tr td:last-child,
    & tr th:last-child {
      @apply border-r-0;
    }
  }

  @media only screen and (width <= 1200px) {
    h1 {
      @apply pt-8 pb-2 text-2xl font-normal;
    }

    h2,
    h3 {
      @apply pt-6 pb-1 font-light;
    }

    h2 {
      @apply text-xl;
    }

    h3 {
      @apply text-lg;
    }

    h4 {
      @apply text-base;
    }

    h5 {
      @apply text-sm;
    }

    h6 {
      @apply text-sm;
    }

    ul,
    li {
      @apply ml-2 text-sm;
    }

    p {
      @apply text-sm;
    }

    code {
      @apply text-xxs;
    }

    pre {
      @apply text-xxs;
    }

    th {
      @apply py-1;
    }

    td {
    }
  }
}

.heading-icon {
  @apply mr-2;

  & path {
    fill: #d33130;
  }
}

/* for citations */
.references {
  @apply my-4 border-t border-mid-grey py-2;
}

.csl-entry {
  @apply py-1 text-xs font-light text-light-grey;
}

.quote {
  @apply ml-10;
}

/* for markdown admonitions / boxes */

.box,
blockquote {
  @apply my-3 rounded border bg-dark-grey px-2 border-mid-grey;

  & p {
    @apply text-xs;
  }

  &.note {
    @apply border-mid-grey;
  }

  &.warning {
    @apply border-theme;
  }
}

.katex {
  @apply text-sm;

  & .newline {
    @apply py-1;
  }
}
