@tailwind base;
@tailwind components;
@tailwind utilities;

/*** override default vite theme styles ***/

.sidebar {
  width: 310px !important;
}

.container {
  padding: 30px !important;
  max-width: 850px !important;
}

.logo {
  display: inline-block !important;
  width: 30px !important;
  height: 30px !important;
}

/** Base styles */
:root {
  /**
 * Colors
 * --------------------------------------------------------------------- */

  --c-white: #fff;
  --c-black: #2e2e2e;
  --c-divider-light: #ddd;
  --c-divider-dark: #2e2e2e;
  --c-text-light-1: #2c3e50;
  --c-text-light-2: #2e2e2e;
  --c-brand: #d32f2f;
  --c-brand-light: #9a0007;

  /**
 * Z Indexes
 * --------------------------------------------------------------------- */

  --z-index-navbar: 1100;
  --z-index-sidebar: 1000;

  /**
 * Sizes
 * --------------------------------------------------------------------- */

  --header-height: 3.6rem;

  /** Fallback Styles */

  --c-divider: var(--c-divider-light);
  --c-text: var(--c-text-light-1);
  --c-text-light: var(--c-text-light-2);
  --c-bg: var(--c-white);
  --code-bg-color: #282c34;
}

@layer base {
  body {
    @apply font-defaults font-normal text-base;
    @apply text-darkgrey;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings;
  }

  h1,
  h2,
  h3 {
    @apply mt-10 leading-snug;
  }

  h1 {
    @apply text-4xl font-semibold mb-10;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4,
  h5,
  h6 {
    @apply text-base font-semibold leading-snug mt-3;
  }

  code {
    @apply text-xs font-semibold font-mono p-0.5;
  }

  pre code {
    @apply font-bold;
  }

  ul {
    @apply py-0 pl-5;

    list-style-type: disc;
    list-style-position: outside;
  }

  ul > li {
    @apply py-1;
  }

  ul > li > ul {
    @apply py-0;
  }

  ul > li > ul > li {
    @apply py-0;
  }

  p {
    @apply pb-2;
  }

  a {
    @apply text-theme font-semibold;
  }

  a > code {
    @apply text-theme;
  }

  td {
    @apply text-sm font-medium;
  }

  @media screen and (max-width: 958px) {
    body {
      @apply text-sm;
    }
    h1 {
      @apply text-xl;
    }

    h2 {
      @apply text-lg;
    }

    h3 {
      @apply text-base;
    }

    h4,
    h5,
    h6 {
      @apply text-sm;
    }

    td {
      @apply text-xs;
    }
  }
}
